#signup{
  border-color: black;
  border-width: 1px;
  width: 50%;
  font-size: 18px;
  height: 350px;
  padding-top: 5px;
  margin-left: 32rem;
}

#container{
  padding-top: 100px;
}

.field{
  display: block;
  width: 30rem;
  height: 1.5rem;
  margin-bottom: 20px;
}

span{
  margin-bottom: 15px;
  display: block;
  text-decoration-line: underline;
  font-size: 100px;
  color: purple;
}

#unlogged{
  font-size: 20px;
  color: purple;
  margin-top: 30px;
  text-decoration: none;
  margin-left: 41%;
  padding-top: 0;
}

#btn{
  width: 110px;
  margin-left: 170px;
  height: 30px;
  border-radius: 10px;
  color: white;
  background-color: purple;
  cursor: pointer;
}

.error{
  margin-left: 32rem;
  color: white;
  width: 20%;
  padding-left: 10rem;
  padding-right: 5rem;
  padding-top:5px;
  background-color: #EB455f;
  height: 60px;
}
