{% extends "main_base.html"%}
{% block head%}
<link rel="stylesheet" type="text/css" href="{{ url_for('main_print.static', filename='styles/home.css')+ '?' + cache_id}}"/>
<script src="{{ url_for('main_print.static', filename='scripts/home.js')+ '?' + cache_id}}", type="module"></script>
{% endblock head%}

{%block content%}
    <input type="search" id="search" placeholder="Search posts"></input>
    <button name="search_btn" id="search_btn">search</button>
    <a id="create" href="{{url_for('main_print.create_post')}}">Create new post</a>
    <ul id="unordered">

    </ul>
    {%for post in posts.values()%}
    <div name="content" class="content">
	    <a href="{{'http://127.0.0.1:5001/main/' + post.poster.id + '/profile'}}"><img src='{{url_for('main_print.static', filename='images/profile/' + post.poster.profile) + '?' + cache_id}}'></img></a>
      <u><a href="{{'http://127.0.0.1:5001/main/' + post.id + '/display_post'}}">{{post.title}}</a></u>
      <span>
	      {{post.content}}
    </span>
    </div>
    {%endfor%}
{% endblock content %}
