{% extends "main_base.html" %}
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('main_print.static', filename='styles/profile_page.css')+ '?' + cache_id}}"/>
    <script src="{{ url_for('main_print.static', filename='scripts/profile_page.js')+ '?' + cache_id}}", type="text/javascript"></script>
    {% endblock head %}
    {% block content %}
    <span class="user_info" user_name={{user.name}} user_pwd={{user.password}} user_id={{user.id}}>
	    Username: {{owner.name}}<br/>
	    Number of posts: {{post_number}}<br/>
	    Number of votes: {{vote_number}}<br/>
	 {% if post_number %}
	 <a href="{{'http://127.0.0.1:5001/main/' + owner.name + '/user_posts'}}"> See posts</a><br/>
    	{% endif %}
    <div id="confirm">
      Are you sure?
      <br><br>
      <span id="yes" name="yes">
        yes
      </span>
      <span id="no" name="no">
        no
      </span>
    </div>
    </span>
    <img src="{{ url_for('main_print.static', filename='images/profile/' + owner.profile) + '?' + cache_id}}" class="profile_pic"></img>
    {% if user.id == owner.id %}
    <input type="button" name="update" class="update" value="update profile picture">
     <input type="button" name="update" id="delete" value="delete account">
     {%endif%}
    {% endblock content %}
