{%extends "base.html"%}
{%block content%}
    <div id="container">
      <form  method="post" id="signup">
        <span>Sign Up</span>
        username <input type="text" name="username" placeholder="Enter username" class="field">
        password <input type="password" name="password" placeholder="Enter password" class="field">
        confirm password <input type="password" name="confirm_password" placeholder="Enter password" class="field">
        <input type="button" name="button" value="submit" id="btn">
      </form>
    </div>
{%endblock content%}
